.heroCard1 {
    height:100%;
    width:18% ;
    background-color: black ;
    border-radius: 6%;
    transform: translate(20%, 35%) rotate(-25deg);
    z-index: -1;
    opacity: 60%;
    transition: all 0.6s ease-in-out;
}

.heroCard2 {
    height:100%;
    width:18% ;
    background-color: black ;
    border-radius: 6%;
    transform: translate(9% , 9%) rotate(-15deg);
    opacity: 75%;
    transition: all 0.6s ease-in-out;
}

.heroCard3 {
    height:100%;
    width:18% ;
    background-color: black ;
    border-radius: 6%;
    z-index: 1;
    transition: all 0.6s ease-in-out;
}

.heroCard4 {
    height:100%;
    width:18% ;
    background-color: black ;
    border-radius: 6%;
    transform: translate(-9% , 9%) rotate(15deg);
    opacity: 75%;
    transition: all 0.6s ease-in-out;
}

.heroCard5 {
    height:100%;
    width:18% ;
    background-color: black ;
    border-radius: 6%;
    z-index: -1;
    transform: translate(-20%, 35%) rotate(25deg);
    opacity: 60%;
    transition: all 0.6s ease-in-out;
}